<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDashboard.html}">
<head>
    <title>Project Management | Employee</title>
    <script th:src="@{/js/utils/getTokenRequest.js}"></script>
    <script th:src="@{/js/utils/jQuery-validate.js}"></script>
    <script th:src="@{/js/utils/floatPlaceholder.js}"></script>
    <script th:src="@{/js/EMPLOYEE/projectManagementEmployee.js}"></script>
    <link th:href="@{/CSS/formUtils.css}" rel="stylesheet" />
</head>
<body>
<main layout:fragment="custom-content">

    <!-- Project Counters -->
    <section class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-5 gap-4 2xl:gap-5 mb-5 p-5 border">

        <!-- Total Projects -->
        <button id="totalBtn" class="cursor-pointer filterSearch flex flex-row justify-center w-full" type="button">
            <label for="totalBtn" class="cursor-pointer border border-gray-300 rounded-l-lg w-full px-4 py-2 sm:px-[2rem] text-center content-center">Total Projects</label>
            <label for="wipBtn" id="total-projects" class="cursor-pointer border border-gray-300 bg-gray-500 text-white font-bold rounded-r-lg px-4 py-2 text-center content-center">0</label>
        </button>

        <!-- In Progress Projects -->
        <button id="wipBtn" class="cursor-pointer filterSearch flex flex-row justify-center w-full" type="button" value="2">
            <label for="wipBtn" class="cursor-pointer border border-blue-600 rounded-l-lg w-full px-4 py-2 sm:px-[2rem] text-center content-center">In Progress</label>
            <label for="wipBtn" id="in-progress-projects" class="cursor-pointer bg-blue-600 border border-blue-600 text-white font-bold rounded-r-lg px-4 py-2 text-center content-center">0</label>
        </button>

        <!-- Completed Projects -->
        <button id="completedBtn" class="cursor-pointer filterSearch flex flex-row justify-center w-full" type="button" value="4">
            <label for="completedBtn" class="cursor-pointer border border-green-500 rounded-l-lg w-full px-4 py-2 sm:px-[2rem] text-center content-center">Completed</label>
            <label for="completedBtn" id="completed-projects" class="cursor-pointer bg-green-500 border border-green-500 text-white font-bold rounded-r-lg px-4 py-2 text-center content-center">0</label>
        </button>

    </section>

    <!-- User ID -->
    <label>
        <input type="hidden" id="userId" th:value="${user.id}"/>
    </label>
    <!-- Project List -->
    <section id="project-grid" class="grid grid-cols-1 lg:grid-cols-1 gap-4 border p-5">

        <!-- Scrollable Container -->
        <div class="order-2 lg:order-1 overflow-y-auto max-h-[28rem] rounded-lg">
            <section id="scrollable-container" class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-4 p-5">
                <!-- Projects List -->
            </section>
        </div>

    </section>
</main>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
