<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">403 - Access Denied</h1>
            <div class="alert alert-danger">
                <p>Sorry, you don't have permission to access this page.</p>
            </div>
            <p class="text-center">
                <a href="/" class="btn btn-primary">Return to Home</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>