<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Admins dashboard</h1>
    <p>Welcome, <span th:text="${user.username}"></span>!</p>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Details</h5>
                    <p class="card-text">Check your user information</p>
                    <a th:href="@{/dashboard/admin/info}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User List</h5>
                    <p class="card-text">Check the users that are registered on the system</p>
                    <a th:href="@{/dashboard/admin/users}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
    <a href="/logout" class="btn btn-danger mt-3">Log out</a>
</div>
</body>
</html>