<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutDashboard.html}">
<head>
    <title>Project Management | Boss</title>
    <script th:src="@{/js/getTokenRequest.js}"></script>
    <script th:src="@{/js/floatPlaceholder.js}"></script>
    <script th:src="@{/js/jQuery-validate.js}"></script>
    <script th:src="@{/js/BOSS/projectManagementBoss.js}"></script>
    <script th:src="@{/js/BOSS/gridsToggleProjectManagementBoss.js}"></script>
    <link th:href="@{/CSS/formUtils.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <style>
        .scrollable-container{
            max-height: 35.25rem;
        }
        /* Hover effect por cards */
        .project-card {
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .project-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
<main layout:fragment="custom-content">

    <!-- Project Counters -->
    <section class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-5 gap-4 2xl:gap-5 mb-5 p-5 border">

        <!-- Total Projects -->
        <button id="totalBtn" class="cursor-pointer filterSearch flex flex-row justify-center w-full" type="button">
            <label for="totalBtn" class="cursor-pointer border border-gray-300 rounded-l-lg w-full px-4 py-2 sm:px-[2rem] text-center content-center">Total Projects</label>
            <label for="wipBtn" id="total-projects" class="cursor-pointer border border-gray-300 bg-gray-500 text-white font-bold rounded-r-lg px-4 py-2 text-center content-center">0</label>
        </button>

        <!-- In Progress Projects -->
        <button id="wipBtn" class="cursor-pointer filterSearch flex flex-row justify-center w-full" type="button" value="2">
            <label for="wipBtn" class="cursor-pointer border border-blue-600 rounded-l-lg w-full px-4 py-2 sm:px-[2rem] text-center content-center">In Progress</label>
            <label for="wipBtn" id="in-progress-projects" class="cursor-pointer bg-blue-600 border border-blue-600 text-white font-bold rounded-r-lg px-4 py-2 text-center content-center">0</label>
        </button>

        <!-- Completed Projects -->
        <button id="completedBtn" class="cursor-pointer filterSearch flex flex-row justify-center w-full" type="button" value="4">
            <label for="completedBtn" class="cursor-pointer border border-green-500 rounded-l-lg w-full px-4 py-2 sm:px-[2rem] text-center content-center">Completed</label>
            <label for="completedBtn" id="completed-projects" class="cursor-pointer bg-green-500 border border-green-500 text-white font-bold rounded-r-lg px-4 py-2 text-center content-center">0</label>
        </button>

        <!-- Button to Add New Project -->
        <button id="toggle-form-button" class="bg-[#244444] text-white rounded-lg shadow hover:bg-emerald-800 px-4 py-2 w-full">
            Add New Project +
        </button>

    </section>

    <!-- Project List -->
    <section id="project-grid" class="grid grid-cols-1 lg:grid-cols-1 gap-4 border p-5">

        <!-- Scrollable Container -->
        <div class="order-2 lg:order-1 overflow-y-auto rounded-lg">
            <section id="scrollable-container" class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-4 p-5">
                <!-- Projects List -->
            </section>
        </div>

        <!-- Form to Add New Project -->
        <div id="new-project-form" class="hidden bg-white p-6 rounded-lg border order-1 lg:order-2">
            <h3 class="text-2xl font-bold text-gray-800 mb-4">| Create a New Project</h3>
            <form id="create-project-form">

                <div class="form-input relative mb-4">
                    <label for="project-name" class="absolute left-2 top-2 text-gray-600 transition-all duration-200 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base">Project Name</label>
                    <input type="text" id="project-name" name="projectName" class="peer w-full border border-gray-300 rounded-md p-2 placeholder-transparent focus:outline-none transition-colors duration-200" placeholder="Project Name" maxlength="30" required>
                </div>
                <div class="form-input relative mb-2">
                    <label for="project-description" class="absolute block left-2 top-2 text-gray-500 transition-all duration-200 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base">Description</label>
                    <textarea id="project-description" name="projectDescription" class="peer w-full border border-gray-300 rounded-md p-2 placeholder-transparent focus:outline-none transition-colors duration-200" maxlength="255" required></textarea>
                </div>
                <div class="form-input relative mb-4">
                    <label for="customer" class="absolute block left-2 top-2 text-gray-500 transition-all duration-200 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base">Customer</label>
                    <select id="customer" name="clientId" class="w-full p-2 border border-gray-300 rounded-lg" required>
                        <!-- Options will be populated via JavaScript -->
                    </select>
                </div>
                <div class="form-input relative mb-4">
                    <label for="employee" class="absolute block left-2 top-2 text-gray-500 transition-all duration-200 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base">Assign Employee</label>
                    <select id="employee" name="userId" class="w-full p-2 border border-gray-300 rounded-lg" required>
                        <!-- Options will be populated via JavaScript -->
                    </select>
                </div>
                <div class="flex space-x-4">
                    <div class="form-input w-1/2">
                        <label for="start-date" class="block text-gray-600">Start Date</label>
                        <input type="date" id="start-date" name="startDate" class="w-full p-2 border border-gray-300 rounded-lg" required>
                    </div>
                    <div class="form-input w-1/2">
                        <label for="end-date" class="block text-gray-600">End Date</label>
                        <input type="date" id="end-date" name="endDate" class="w-full p-2 border border-gray-300 rounded-lg" required>
                    </div>
                </div>
                <button type="button" id="submitProject" class="bg-yellow-500 text-white mt-4 p-2 w-full rounded-lg hover:bg-yellow-600">
                    Add Project +
                </button>
            </form>
        </div>
    </section>
</main>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
