@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*
* ESTILOS DE COMPONENTES
*/

.items-nav{
    @apply flex items-center py-2 px-4 text-white opacity-70 hover:bg-teal-900 hover:opacity-100 rounded-md !text-sm font-medium transition-all duration-500
}

.items-nav-active{
    @apply flex items-center py-2 px-4 text-white bg-teal-950 rounded-md !text-sm font-semibold opacity-100
}

.item-historial{
    @apply relative flex items-start border-l-2 border-l-slate-600 py-2 hover:bg-slate-100 transition-all duration-500 cursor-pointer
}

/**
*
* FORMULARIOS
* ------------- INPUTS
*
**/


.styles-label{
    @apply
    absolute left-3 top-2.5
    text-slate-500 transition-all duration-500
    peer-placeholder-shown:top-2.5
    peer-placeholder-shown:text-sm
    peer-focus:text-xs
    peer-focus:bg-white peer-focus:px-2
    peer-focus:top-4
    peer-focus:-translate-y-6
    peer-[&:not(:placeholder-shown)]:-translate-y-6
    peer-[&:not(:placeholder-shown)]:text-xs
    peer-[&:not(:placeholder-shown)]:top-4
    peer-[&:not(:placeholder-shown)]:bg-white
    peer-[&:not(:placeholder-shown)]:px-2

}

.styles-input{
    @apply
    w-full border border-black rounded-md p-2 placeholder-transparent focus:outline-none transition-colors duration-200 text-sm
}

