<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="Nexus Workshop">Nexus Workshop</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script th:src="@{/js/utils/jquery-3.7.1.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"></script>
</head>
<body class="font-poppins">
    <div class="w-full relative flex overflow-hidden">
        <!-- ASIDE O MENU LATERAL -->
        <aside th:insert="fragments/assets/sidebar.html :: aside"></aside>
        <!-- HEADER -->
        <header th:insert="fragments/assets/navbar.html :: header"></header>

        <main class="p-4 pt-28 w-full max-h-svh overflow-hidden overflow-y-auto h-full relative">

                <div layout:fragment="custom-content">
                    <!-- Contenido dinámico -->
                </div>
        </main>
    </div>
</body>
</html>